.boardCell {
    height: 100%;
    user-select: none;
    -webkit-user-select: none;
}

.cell-back,
.cell-front,
.center-cell {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    cursor: url("./speaker.png"), pointer;
}

.cell-front {
    background-color: #FFFFFF;
    color: #024C69;
}

.cell-back {
    background-color: #024C69;
    color: #fff;
    font-family: siller, Roboto, sans-serif;
    font-size: 2em;
}

.center-cell {
    background-color: #024C69;
}

.center-cell img {
    max-width: 60%;
    max-height: 60%;
}

@media  (max-width: 600px), (max-height: 600px) {
    .cell-back {
        font-size: 1.3em;
    }
}